@model IEnumerable<ERP_D.Models.CentroDeCosto>

@{
    ViewData["Title"] = "Index";
}

<h1>Centros de Costo</h1>

<p>
    @if (!User.IsInRole("EMPLEADO COMUN"))
    {
        <a asp-action="Create">Nuevo</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gerencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoMaximo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gerencia.Nombre)
            </td>
            <td>
                @if (!User.IsInRole("EMPLEADO COMUN"))
                {
                    <a asp-action="Edit" asp-route-id="@item.CentroDeCostoId">Editar | </a>
                }

                <a asp-action="Details" asp-route-id="@item.CentroDeCostoId">Detalles</a>

                @if (!User.IsInRole("EMPLEADO COMUN"))
                {
                    <a asp-action="Delete" asp-route-id="@item.CentroDeCostoId"> | Eliminar</a>
                }
            </td>
        </tr> 
}
    </tbody>
</table>
