@model ERP_D.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rubro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo.Nombre)
        </dd>
    </dl>
</div>

<div>
    <h4>@Html.DisplayNameFor(Model => Model.Gerencias)</h4>

    @if (Model.Gerencias.Any())
            {
                <ul>
                  @foreach (Gerencia ger in Model.Gerencias)
                    {
                      <li>
                          @ger.DescripcionGerencia
                      </li>
                    }
                </ul>
            } else
            {
                <h6>NO HAY GERENCIAS REGISTRADAS.</h6>
            }
    
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.EmpresaId">Editar</a> |
    <a asp-action="Index">Volver atras</a>


</div>
