@model ERP_D.Models.Telefono

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro desea eliminar este registro?</h3>
<div>
    <h4>Telefono</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTelefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoTelefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TelefonoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-controller="Empleados" asp-action="IndexEmpleadoComun"> Volver </a>
    </form>
</div>
